{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OTP Verification</title>
    <link rel="stylesheet" href="{% static 'css/user_login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-wrapper">
        <div class="login-box">
            <h2>OTP Verification</h2>
            <form method="POST">
                {% csrf_token %}

                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <button type="submit" class="login-btn">Send</button>

                {% if messages %}
                    {% for m in messages %}
                        <p class="error-message">{{ m }}</p>
                    {% endfor %}
                {% endif %}
            </form>

            <div class="bottom-links">
                <a href="{% url 'user_login' %}">Login</a> |
                <a href="{% url 'home' %}">Home</a>
            </div>
        </div>
    </div>
</body>
</html>

